<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perguntas e Respostas</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>Lista de Perguntas e respostas</h1>
  <h2>Digite aqui a sua pergunta</h2>
  <h2>Aqui esta a sua respostas</h2>

  <p>Nome:<%= nome %>
  </p>
  <p>Linguagem:<%= lang %>
  </p>
  <p>Empresa:<%= empresa %>
  </p>
  <p>Curso:<%= curso %>
  </p>

  <% if(msg){ %>
    <h3>Isso é uma menssagem de erro!</h3>
    <%} else {%>
      <h3>Nenhum erro!</h3>
      <%}%>


        <% produtos.forEach((produto)=> { %>
          <hr>
          <h3>
            <%= produto.nome %>
          </h3>
          <h4>
            <%= produto.preco %>
          </h4>
          <% }) %>
            </hr>

            <img src="/img/programador.jpg" alt="programador">

</body>

</html>